*{
	margin: 0;
	padding: 0;
	list-style: none;
}
header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid; }
  header h3{
  	float: left;
  	margin-top: 1.2rem;
  	margin-left: -2.5rem;
  	color: #000;
  }
  header .logo {
    width: 50%;
    height: 100%;
    float: left; }
    header .logo img {
      width: 6.86rem;
      height: 2.8rem;
      margin-top: 0.6rem;
      margin-left: 0.64rem; }
  header .tp {
    width: 50%;
    height: 100%;
    float: left; }
    header .tp ul {
      width: 100%;
      height: 100%;
      list-style: none; }
      header .tp ul li {
        width: 20.3333%;
        height: 100%;
        float: right;
        text-align: center; }
        header .tp ul li span {
          font-size: 1.1rem;
          color: #999999; }
        header .tp ul li p {
          font-size: 0.7rem;
          color: #999999; }
        header .tp ul li .p1 {
          margin-top: -1.7rem; }
        #div3{
        	width: 100%;
        	height: 7rem;
        	float: left;
        	margin-top: -2.5rem;
        }
        #div3 h3{
        	font-size: 18px;
        	float: left;
        	margin-top: 1rem;
        	margin-left: 0.68rem;
        }
        #div3 #div3a {
        	width: 3.5rem;
        	height: 1rem;
        	background-color: #33cc99;
        	float: left;
        	margin-left: 1rem;
        	margin-top: 1.4rem;
        }
        #div3 #div3a p {
        	font-size: 12px;
        	color: #fff;
        	text-align: center;
        }
        #div3 h4{
        	float: left;
        	margin-left: -17rem;
        	margin-top: 3rem;
        }
        #div3b .p1{
        	color: #333;
        	font-size: 14px;
        	float: left;
        	margin-left: 0.68rem;
        	margin-top: 0.625rem;
        }
        #div3b span{
        	font-size: 14px;
        	color: #999;
        	float: left;
        	margin-left: 0.1rem;
        	margin-top: 0.625rem;
        }
.aa {
  width: 46%;
  height: 2.5rem;
  border: 1px solid #cacaca;
  float: left;
  color: #39C893;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .aa-1.aa  {
    color: blue;
    float: left;
    font-size: 1rem; }
    .aa-2.aa  {
    color: #39C894;
    float: left;
    font-size: 1rem; }
    .aa span img {
    	width: 0.9rem;
    	height: 0.9rem;
      float: left;
      margin-left: 0rem;
      margin-top: 0.25rem;
      font-size: 1rem; }

.aa-1 {
  margin-left: 0.9rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  margin-top: 1rem; }

.aa-2 {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  margin-top: 1rem; }
  
#div4{
	width: 100%;
	height: 63rem;
	background-color: #F7F7F7;
	float: left;
	margin-top: 3.5rem;
}
#div4a .p1{
        	color: #333;
        	font-size: 14px;
        	float: left;
        	margin-left: 1rem;
        	margin-top: 0.625rem;
        }
        #div4a span{
        	font-size: 14px;
        	color: #39C894;
        	float: left;
        	margin-left: 0.1rem;
        	margin-top: 0.625rem;
        }
        #div4b .p1{
        	color: #333;
        	font-size: 14px;
        	float: left;
        	margin-left: 4rem;
        	margin-top: 0.625rem;
        }
        #div4b span{
        	font-size: 14px;
        	float: left;
        	margin-left: 0.1rem;
        	margin-top: 0.625rem;
        }
        #div4c{
        	width: 1.4rem;
        	height: 1.4rem;
        	background-color: #39C894;
        	border-radius: 50%;
        	float: left;
        	margin-left: -17rem;
        	margin-top: 3.4rem;
        }
        #div4d{
        	width: 6.625rem;
        	height: 1.875rem;
        	background-color:#A5A5A5;
        	float: left;
        	margin-left: 1.3rem;
        	margin-top: 1.3rem;
        }
        #div4d p {
        	font-size: 14px;
        	color: #666;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4e{
        	width: 3rem;
        	height: 1.875rem;
        	background-color:#39C894;
        	float: left;
        	margin-top: 1.3rem;
        }
        #div4e p {
        	font-size: 14px;
        	color: white;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4f{
        	width: 4.625rem;
        	height: 1.875rem;
        	background-color:yellow;
        	float: left;
        	margin-left: 0.5rem;
        	margin-top: 1.3rem;
        }
        #div4f p {
        	font-size: 14px;
        	color: white;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4 h3{
        	font-size: 14px;
        	float: left;
        	margin-left: 3.7rem;
        	margin-top: 1rem;
        }
        #div4g> ul {
            width: 84%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            text-align: center;
            background: #f7f7f7;
            padding-top: 0.3rem;
            margin: -0.5rem;
        }
        #div4g > ul > li {
           width: 28%;
           
        }
        #div4g > ul > li img {
        	width: 6.47rem;
        	height: 8.56rem;
        	float: left;
        	margin-left: 3.5rem;
        	margin-top: 1rem;
        }
        #div4c1{
        	width: 1.4rem;
        	height: 1.4rem;
        	background-color: #39C894;
        	border-radius: 50%;
        	float: left;
        	margin-left: 1rem;
        	margin-top: 1.7rem;
        }
        #div4d1{
        	width: 6.625rem;
        	height: 1.875rem;
        	background-color:#A5A5A5;
        	float: left;
        	margin-left: 1.3rem;
        	margin-top: 1.3rem;
        }
        #div4d1 p {
        	font-size: 14px;
        	color: #666;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4e1{
        	width: 3rem;
        	height: 1.875rem;
        	background-color:#39C894;
        	float: left;
        	margin-top: 1.3rem;
        }
        #div4e1 p {
        	font-size: 14px;
        	color: white;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4f1{
        	width: 4.625rem;
        	height: 1.875rem;
        	background-color:yellow;
        	float: left;
        	margin-left: 0.5rem;
        	margin-top: 1.3rem;
        }
        #div4f1 p {
        	font-size: 14px;
        	color: white;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4f2{
        	width: 4.625rem;
        	height: 1.875rem;
        	background-color:#A5A5A5;
        	float: left;
        	margin-left: 0.5rem;
        	margin-top: 1.3rem;
        }
        #div4f2 p {
        	font-size: 14px;
        	color: white;
        	text-align: center;
        	padding-top: 0.3rem;
        }
        #div4 .aa{
        	width: 20.5rem;
        	height: 14.75rem;
        	float: left;
        	margin-left: 3.5rem;
        	margin-top: 1rem;
        }
.znr6 {
  height: 12rem; }
  .znr6 div {
    width: 92%;
    height: 90%;
    margin: 0 auto;
    padding-top: 3.5rem; }
    .znr6 div p {
      font-size: 1rem;
      text-indent: 2rem;
      line-height: 2.2rem; }

footer {
  width: 100%;
  height: 6rem;
  margin-top: 0.8rem;
  text-align: center;
  border-top: 0.7rem solid #f4f4f4;
  padding-top: 1rem; }
  footer div {
    width: 100%;
    height: 2rem;
    float: left;
    margin-top: 9rem; }
    footer div p {
      float: left;
      margin-left: 5.5rem;
      color: #39C893;
      margin-top: 0.1rem; }
    footer div span {
      font-size: 1.1rem;
      float: left; }
  footer ul {
    width: 100%;
    height: 4rem; }
    footer ul li {
      width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      margin-top: 1rem;
      font-size: 1.1rem; }

.boxx {
  width: 100%;
  margin-top: 0.8rem; }
  .boxx .p1 {
    float: left;
    height: 2rem;
    line-height: 2rem;
    border-left: 0.3rem solid #3CC995;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    margin-left: 1rem;
    text-align: center;
    width: 7rem; }
  .boxx span {
    margin-left: 0.2rem;
    line-height: 2.4rem;
    color: #999;
    font-size: 0.8rem; }

.mb {
  width: 100%;
  height: 6rem;
  background: black;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); }
  .mb .img1 {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 2.5rem;
    height: 2.5rem; }
  .mb .img2 {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    margin-top: 1rem; }
  .mb .p1 {
    color: #eed215;
    position: absolute;
    top: 1.5rem;
    left: 6rem;
    font-size: 1.2rem; }
  .mb .p2 {
    color: white;
    position: absolute;
    top: 2.9rem;
    left: 5rem;
    font-size: 1.3rem; }
  .mb button {
    width: 6rem;
    height: 2rem;
    background: #feb605;
    border: none;
    border-radius: 0.8rem;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    color: white;
    font-size: 0.7rem; }